h1, h2, h3, h4, h5, h6, p, body {
    color: #19456b;
}

a {
    color: #16c79a;
}

.a:hover {
    color: #16c79a;
}

.copyright {
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

.main-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sub-title {
    text-align: center;
    padding-bottom: 20px;
}

.main-image {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

.form-container {
    width: 600px;
    padding: 50px;
}

.register-link {
    padding-top: 20px;
}

.admin-link {
    margin-top: 15px;
    margin-bottom: 15px;
}

.ajp-nav {
    background-color: #11698e!important;
}

.product-card-image {
    width: 100%;
    height: 225px;
    object-fit: cover;
    overflow: hidden;
}

.cart-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

.cart-table {
    padding-top: 50px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}


/* BOOTSTRAP OVERRIDES */
.btn-primary {
   background-color: #16c79a;
   border-color: #f8f1f1;
}

.btn-outline-primary {
   color: #16c79a;
   border-color: #16c79a;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
   background-color: #16c79a;
   border-color: #f8f1f1;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #11698e;
    border-color: #f8f1f1;
}

.nav-link, .navbar-brand {
    color: #f8f1f1;
}

.nav-link:hover, .navbar-brand:hover {
    color: #16c79a;
}

.card-text {
    height: 75px;
}

.help-block {
    color: red;
}

.table {
    margin-top: 2rem;
}


.table-primary, .table-primary>td, .table-primary>th {
    color: #f8f1f1;
    background-color: #11698e;
}

.table .thead-light th {
    color: #f8f1f1;
    background-color: #11698e;
}

.text-right {
    padding-bottom: 10px;
}