{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}
{% block title %}Edit story title{% endblock %}
{% block content %}

<div class="container form-container">

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <p class="{{ category }}">{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <h1>Edit story title</h1>
  <br>
  {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
  <a href="{{ url_for('translations') }}">Cancel</a>
</div>

{% endblock %}